/*=============================================
Codigo para reoluciones mas grandes
=============================================*/
@media screen and (min-width: 1500px){
	.content-header span{font-size: 55px;}
	.logo{left: 20px;}
	#cont-titu{top: -80px;}
}
@media screen and (min-width: 1650px){
	.content-header span{font-size: 60px;}
	.logo{left: 30px;}
}
/*=============================================
Codigo Resonsive para movil-tablet
=============================================*/
@media screen and (max-width: 1180px){
	.con-res-foo{width: 80%;}
}
@media screen and (max-width: 1100px){
	.content-menu{
		position: absolute;
		right: 0;
		width: 580px;
	}
	.menu li{margin-left: 10px;}
	/*=====================*/
	.bloque1{
		width: 96%;
		padding-top: 0;
		padding: 0 2%;
	}
	#cont-titu{position: static;}
	/*=====================*/
	#viajes{width: 100%;}
	#content-tarjetas{
		width: 100%;
		padding-bottom: 70px;
	}
	.card{
		margin-top: 30px;
		margin-left: 20px;
		margin-right: 20px;
	}
	/*=====================*/
	#seccion-ofrece{margin-top: 10px;}
	#ofrecemos{
		width: 100%;
		height: 100%;
		padding-bottom: 10px;
	}
	.content-ofrece{position: static;}
	/*=====================*/
	#galeria{width: 100%;}
	.content-gale .gale-mini-cont{
		margin-top: 50px;
		margin-left: 10px;
		margin-right: 10px;
	}
	/*=====================*/
	#protocolos{width: 100%;}
	.cont-protocolos{width: 96%; padding: 0 2%;}
	.cont-protocolos .proto-min{width: 300px;}
	/*=====================*/
	.content-footer{width: 100%;}
	.con-res-foo{width: 80%;}
	.cont-footer-img{width: 650px;}
}
@media screen and (max-width: 850px){
	.content-menu{display: none;}
	.content-menu2{display: block;}
	#encabezado{height: 100%;}
	#encabezado img{height: 100%;}
	#encabezado .content-header{height: 100%;}
	.content-header span{
		width: 96%;
		padding: 0 2%;
		margin-top: 30%; 
	}
	nav{height: 56px;}
	.logo{
		width: 130px; 
		height: 46px; 
		top:5px;
	}
	#espacio{height: 56px;}
	.cont-nav2{top: 56px;}
	.content-menu2{top: 8px;}
	.cont-nav2{display: block;}
	#encabezado .content-header{
		width: 100%;
		padding-left: 0;
		background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 18%, rgba(255,255,255,0) 100%);
	}
	.content-header span{
		text-align: center;
		margin-left: 0;
	}
	.content-header p{
		width: 80%;
		margin: auto;
		text-align: center;
		margin-top: 20px;
	}
	#somos{margin-top: 40px;}
	.cam-titu-somos{height: 46px;}
	#cont-titu{
		padding: 0 0; 
		padding-bottom: 10px;
	}
	.cont-titulo h4{font-size: 30px;}
	.card:hover img{transform: scale(1);}
	.lado-atras .cerrar-card:hover .cerrar-parra span{display: none;}
	.boton:hover{background-color: #154360;}
	/*=====================*/
	#galeria{margin-top: 40px;}
	#galeria #cont-titu-gale{width: 370px;}
	.content-gale{margin-top: 0;}
	.content-gale .gale-mini-cont{
		border: 1px solid #C4C6C8;
		border-radius: 4px 4px 0 0;
		border-bottom: rgba(0,0,0,0);
		margin-top: 60px;
	}
	.content-gale .gale-mini-cont img{border-radius: 4px 4px 0 0;}
	.gale-mini-cont .nombre-gale2{display: block;}
	.gale-mini-cont .nombre-gale{display: none;}
	.gale-derecha .derecha{pointer-events: none;}
}
@media screen and (max-width: 794px){
	.efect2{margin-top: 30px;}
}
@media screen and (max-width: 753px){
	.content-header span{margin-top: 20%;}
}

@media screen and (max-width: 705px){
	.efect2{margin-top: 40px;}
}
@media screen and (max-width: 700px){
	.content-footer{
		flex-direction: column;
		width: 50%;
		margin: auto;
		text-align: center;
		border-bottom: none;
	}
	.content-footer ul{
		width: 100%;
		margin-top: 20px;
	}
	.content-footer .lista-footEspacio{margin-left: 0;}
	.content-footer .lista-foot1 li{padding-left: 0;}
	.content-footer ul li{
		margin-top: 10px; 
		line-height: 15px;
	}
	.cont-footer-img{
		width: 100%; 
		margin-top: 10px; 
		display: flex; 
		padding: 0 0; 
		flex-direction: initial; 
		flex-wrap: wrap;
	}
	.cont-footer-img img{
		width: 120px; 
		height: 40px; 
		margin-top: 10px;
	}
	.cor-f-r{margin-left: 15px;}
	#cont-footer-icon{
		width: 57px; 
		margin: auto; 
		margin-top: 17px;
	}
	.con-res-foo{
		margin-top: 28px;
		border-top: 1px solid #D3D6D3;
	}
}
@media screen and (max-width: 670px){
	.content-header p{font-size: 18px;}
	#ofrecemos{flex-direction: column;}
	.content-ofrece{
		width: 90%;
		padding: 0 0;
		margin: auto;
	}
	.efect2{margin-top: 10px;}
	.cont-titulo .titu-ofre2{margin-left: 0;}
	.linea-ofre{margin-left: 0;}
	#ofrecemos #parra{padding-left: 0;}
	.cont-protocolos .proto-min{width: 200px;}
	.ancho-titu{width: 230px;}
	.ancho-titu2{width: 220px;}
}
@media screen and (max-width: 625px){
	.content-gale .gale-mini-cont{
		margin-left: 0;
		margin-right: 0;
	}	
}
@media screen and (max-width: 615px){
	.content-header span{font-size: 47px}
}
@media screen and (max-width: 555px){
	.content-header span{margin-top: 15%;}
}
@media screen and (max-width: 470px){
	body{font-size: 17px;}
	#encabezado{height: 100vh;}
	#encabezado img{height: 100vh;}
	#encabezado .content-header{height: 100vh;}
	.content-header span{
		width: 100%;
		padding: 0 0;
		margin-top: 50vh;
	}
	/*titulos*/
	.cont-titulo .cont-icon-titu{width: 210px;}
	.titu-ofre{width: 225px;}
	.cont-titulo .titu-ofre2{width: 225px;}
	#galeria #cont-titu-gale{width: 350px;}
	#proto-titu{
		width: 157px; 
		margin-top: 40px;
	}
	.bloque1{
		width: 92%; 
		padding: 0 4%; 
		margin-bottom: 24px;
	}
	/*=====================*/
	#somos p{width: 90%;}
	.cam-titu-somos{height: 38px;}

	/*=====================*/
	#viajes{margin-top: 20px;}
	#content-tarjetas{margin-top: 20px;}
	.card{
		margin-left: 0;
		margin-right: 0;
	}

	/*=====================*/
	.efect2 img{border-radius: 0;}
	#text-gale-oculto{display: none;}
	/*=====================*/
	#galeria{
		width: 86%;
		padding: 0 7%;
	}
	.content-gale .gale-mini-cont{
		width: 100%;
		height: 100%;
		border: none;
		margin-top: 40px;
	}
	.content-gale .gale-mini-cont img{
		width: 100%;
		height: 100%;	
		border-radius: 0;
	}
	.gale-mini-cont .nombre-gale2{display: none;}
	.gale-mini-cont .derecha{
		width: 100%;
		height: 100%;
		opacity: 1;
		position: static;
	}
	.gale-mini-cont .derecha .modulo-gale{
		width: 100%;
		height: 100%;
		transform: scale(1);
		background-color: rgba(0,0,0,0);

	}
	.gale-mini-cont .derecha .modulo-gale h4{
		text-align: left; 
		color: #000; 
		font-size: 22px; 
		letter-spacing: 1px;
	}
	.modulo-gale .parra-gale{
		width: 100%; 
		margin-top: 10px;
	}
	.modulo-gale .parra-gale p{color: #686766;}
	.modulo-gale .cont-info-gale{width: 100%;}
	.fila-info span{color: #686766;}
	.modulo-gale .linea-gale{
		background-color: #21618C; 
		margin: initial; 
		margin-top: 5px;
	}
	.gale-mini-cont .nombre-gale{display: none;}
	/*=====================*/
	#protocolos{margin-top: 0px;}
	.cont-protocolos{
		flex-direction: column; 
		width: 92%; 
		padding: 0 4%; 
		margin-top: 0;
	}
	.cont-protocolos .proto-min{
		margin-top: 40px; 
		width: 92%; 
		padding: 0 4%;
	}
	.proto-baja{margin-top: 0;}
	.ancho-titu{width: 250px;}
	.ancho-titu2{width: 274px;}
	.ancho-titu3{width: 125px;}
	/*=====================*/
	.content-footer{
		flex-direction: column;
		width: 86%;
		text-align: left;
		padding: 0 0;
	}
	#cont-footer-icon{
		width: 88px; 
		margin: inherit;
	}
	.cont-footer-img{
		width: 100%; 
		display: flex; 
		margin-top: 10px; 
		padding: 0; 
		flex-direction: initial; 
		flex-wrap: wrap;
	}
	.cont-footer-img img{
		width: 110px; 
		height: 40px;
	}
	.con-res-foo{width: 85%;}
	.con-res-foo div{
		width: 100%;
		text-align: center;
	}
	.con-res-foo div span .ocultar{display: none;}
	.con-res-foo div img{display: none;}
}
@media screen and (max-width: 420px){
	.gale-mini-cont .seccion-date .date1{
		padding: 1px 8px;
		font-size: 17px;
	}
	.gale-mini-cont .seccion-date .date2{font-size: 15px;}

}
@media screen and (max-width: 390px){
	#galeria #cont-titu-gale{width: 100%;}
	#galeria #cont-titu-gale h4{
		text-align: left; 
		padding-left: 5px;
	}
	#galeria #cont-titu-gale .linea{
		margin: initial;
		margin-left: 5px;
		margin-top: 10px;
	}
	.content-gale{margin-top: 10px;}
}
@media screen and (max-width: 378px){
	.gale-mini-cont .modulo-gale{width: 100%;}
}
@media screen and (max-width: 360px){
	.card{
		width: 80%;
	}
	.card img{
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 325px){
	.content-header span{font-size: 44px; }
	.content-header p{font-size: 16px;}
}
@media screen and (max-width: 310px){
	.ancho-titu{width: 234px;}
	.ancho-titu2{width: 244px;}
}